In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder

In [46]:
test = pd.read_csv('/SMBC-GREEN-DATA-Challenge/data/test-2.csv') 
train = pd.read_csv('/SMBC-GREEN-DATA-Challenge/data/train-2.csv')

In [47]:
train.head()

,Unnamed: 0,created_at,tree_dbh,curb_loc,health,steward,guards,sidewalk,user_type,problems,...,nta,nta_name,borocode,boro_ct,boroname,zip_city,cb_num,st_senate,st_assem,cncldist
0,0,2015-06-29,14,OnCurb,1,NaN,NaN,Damage,Volunteer,NaN,...,QN45,Douglas Manor-Douglaston-Little Neck,4,4152901,Queens,Little Neck,411,11,25,23
1,1,2016-09-21,5,OnCurb,1,3or4,Helpful,NoDamage,Volunteer,NaN,...,BX05,Bedford Park-Fordham North,2,2039901,Bronx,Bronx,207,33,78,15
2,2,2015-09-13,26,OnCurb,2,NaN,NaN,NoDamage,Volunteer,StonesBranchLights,...,SI01,Annadale-Huguenot-Prince's Bay-Eltingville,5,5017011,Staten Island,Staten Island,503,24,62,51
3,3,2016-05-09,15,OnCurb,0,NaN,NaN,Damage,NYC Parks Staff,NaN,...,SI11,Charleston-Richmond Valley-Tottenville,5,5024401,Staten Island,Staten Island,503,24,62,51
4,4,2016-06-24,23,OnCurb,1,NaN,NaN,NoDamage,Volunteer,Stones,...,MN03,Central Harlem North-Polo Grounds,1,1022102,Manhattan,New York,110,30,70,9

In [48]:
test.head()

,Unnamed: 0,created_at,tree_dbh,curb_loc,steward,guards,sidewalk,user_type,problems,spc_common,...,nta,nta_name,borocode,boro_ct,boroname,zip_city,cb_num,st_senate,st_assem,cncldist
0,19984,2015-09-08,15,OnCurb,NaN,NaN,Damage,NYC Parks Staff,NaN,Callery pear,...,BK17,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,3,3062000,Brooklyn,Brooklyn,315,22,45,48
1,19985,2015-10-15,5,OnCurb,1or2,NaN,NoDamage,Volunteer,NaN,cherry,...,BX62,Woodlawn-Wakefield,2,2045101,Bronx,Bronx,212,34,81,11
2,19986,2016-08-03,4,OnCurb,NaN,Unsure,NoDamage,Volunteer,NaN,littleleaf linden,...,QN60,Kew Gardens,4,4013800,Queens,Kew Gardens,409,14,27,29
3,19987,2015-08-06,7,OnCurb,NaN,NaN,NoDamage,TreesCount Staff,NaN,dawn redwood,...,BK09,Brooklyn Heights-Cobble Hill,3,3000301,Brooklyn,Brooklyn,302,26,52,33
4,19988,2015-10-21,6,OnCurb,1or2,Helpful,NoDamage,TreesCount Staff,Stones,purple-leaf plum,...,BK75,Bedford,3,3025100,Brooklyn,Brooklyn,303,25,56,36

In [49]:
train.info()
#trainの欠損値：steward 5101, guards 5041, problrms 7741,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19984 entries, 0 to 19983
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19984 non-null  int64
 1   created_at  19984 non-null  object
 2   tree_dbh    19984 non-null  int64
 3   curb_loc    19984 non-null  object
 4   health      19984 non-null  int64
 5   steward     5101 non-null   object
 6   guards      5041 non-null   object
 7   sidewalk    19984 non-null  object
 8   user_type   19984 non-null  object
 9   problems    7741 non-null   object
 10  spc_common  19984 non-null  object
 11  spc_latin   19984 non-null  object
 12  nta         19984 non-null  object
 13  nta_name    19984 non-null  object
 14  borocode    19984 non-null  int64
 15  boro_ct     19984 non-null  int64
 16  boroname    19984 non-null  object
 17  zip_city    19984 non-null  object
 18  cb_num      19984 non-null  int64
 19  st_senate   19984 non-null  int64
 20  st_assem    19984 non-null  int64
 21  cncldist    19984 non-null  int64
dtypes: int64(9), object(13)
memory usage: 3.4+ MB

In [50]:
test.info()
#testの欠損値: steward 5176, guards 5135, problems 7657

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19702 entries, 0 to 19701
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19702 non-null  int64
 1   created_at  19702 non-null  object
 2   tree_dbh    19702 non-null  int64
 3   curb_loc    19702 non-null  object
 4   steward     5176 non-null   object
 5   guards      5135 non-null   object
 6   sidewalk    19702 non-null  object
 7   user_type   19702 non-null  object
 8   problems    7657 non-null   object
 9   spc_common  19702 non-null  object
 10  spc_latin   19702 non-null  object
 11  nta         19702 non-null  object
 12  nta_name    19702 non-null  object
 13  borocode    19702 non-null  int64
 14  boro_ct     19702 non-null  int64
 15  boroname    19702 non-null  object
 16  zip_city    19702 non-null  object
 17  cb_num      19702 non-null  int64
 18  st_senate   19702 non-null  int64
 19  st_assem    19702 non-null  int64
 20  cncldist    19702 non-null  int64
dtypes: int64(8), object(13)
memory usage: 3.2+ MB

In [8]:
#相関係数の出力は Too many indexersでエラーが出るため、一旦コメントアウト

In [51]:
data_all = pd.concat([train, test], sort=False).reset_index(drop=True)

In [10]:
train.describe()

,Unnamed: 0,tree_dbh,health,borocode,boro_ct,cb_num,st_senate,st_assem,cncldist
count,19984.000000,19984.000000,19984.000000,19984.000000,1.998400e+04,19984.000000,19984.000000,19984.000000,19984.000000
mean,9991.500000,11.694906,0.858036,3.360088,3.405346e+06,343.159077,21.111189,51.913981,30.346327
std,5769.028226,8.198150,0.437807,1.232246,1.239741e+06,122.264942,7.188537,18.642931,14.824068
min,0.000000,1.000000,0.000000,1.000000,1.000202e+06,101.000000,10.000000,23.000000,1.000000
25%,4995.750000,5.000000,1.000000,3.000000,3.005900e+06,301.000000,15.000000,33.000000,19.000000
50%,9991.500000,9.000000,1.000000,4.000000,4.009200e+06,402.000000,22.000000,56.000000,31.000000
75%,14987.250000,17.000000,1.000000,4.000000,4.122300e+06,413.000000,25.000000,64.000000,44.000000
max,19983.000000,42.000000,2.000000,5.000000,5.031902e+06,503.000000,36.000000,87.000000,51.000000

In [11]:
data_all.describe()

,Unnamed: 0,tree_dbh,health,borocode,boro_ct,cb_num,st_senate,st_assem,cncldist
count,39686.000000,39686.000000,19984.000000,39686.000000,3.968600e+04,39686.000000,39686.000000,39686.000000,39686.000000
mean,19916.161669,11.647810,0.858036,3.360203,3.405672e+06,343.189210,21.052487,51.744494,30.281485
std,11540.431478,8.202106,0.437807,1.227749,1.235439e+06,121.851725,7.198739,18.657595,14.773305
min,0.000000,1.000000,0.000000,1.000000,1.000202e+06,101.000000,10.000000,23.000000,1.000000
25%,9921.250000,5.000000,1.000000,3.000000,3.005900e+06,301.000000,15.000000,33.000000,19.000000
50%,19842.500000,9.000000,1.000000,4.000000,4.012100e+06,402.000000,22.000000,55.000000,31.000000
75%,29909.750000,17.000000,1.000000,4.000000,4.119500e+06,413.000000,25.000000,64.000000,44.000000
max,39968.000000,44.000000,2.000000,5.000000,5.031902e+06,503.000000,36.000000,87.000000,51.000000

In [12]:
curb_loc_dummies = pd.get_dummies(data_all['curb_loc'], prefix='curb_loc', drop_first=False, dtype = int)  
curb_loc_dummies.head()

   curb_loc_OffsetFromCurb  curb_loc_OnCurb
0                        0                1
1                        0                1
2                        0                1
3                        0                1
4                        0                1

In [13]:
zip_city_dummies = pd.get_dummies(data_all['zip_city'], prefix='zip_city', drop_first=False, dtype = int)
zip_city_dummies.head()

,zip_city_Arverne,zip_city_Astoria,zip_city_Bayside,zip_city_Bellerose,zip_city_Bronx,zip_city_Brooklyn,zip_city_Cambria Heights,zip_city_Central Park,zip_city_College Point,zip_city_Corona,...,zip_city_Rosedale,zip_city_Saint Albans,zip_city_South Ozone Park,zip_city_South Richmond Hill,zip_city_Springfield Gardens,zip_city_Staten Island,zip_city_Sunnyside,zip_city_Whitestone,zip_city_Woodhaven,zip_city_Woodside
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
nta_dummies = pd.get_dummies(data_all['nta'], prefix='nta', drop_first=False, dtype = int) 
nta_dummies.head()

,nta_BK09,nta_BK17,nta_BK19,nta_BK21,nta_BK23,nta_BK25,nta_BK26,nta_BK27,nta_BK28,nta_BK29,...,nta_SI24,nta_SI25,nta_SI28,nta_SI32,nta_SI35,nta_SI36,nta_SI37,nta_SI45,nta_SI48,nta_SI54
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
spc_common_dummies = pd.get_dummies(data_all['spc_common'], prefix='spc_common', drop_first=False, dtype = int)
spc_common_dummies.head()

,spc_common_'Schubert' chokecherry,spc_common_American beech,spc_common_American elm,spc_common_American hophornbeam,spc_common_American hornbeam,spc_common_American linden,spc_common_Amur cork tree,spc_common_Amur maackia,spc_common_Amur maple,spc_common_Atlantic white cedar,...,spc_common_tartar maple,spc_common_tree of heaven,spc_common_trident maple,spc_common_tulip-poplar,spc_common_two-winged silverbell,spc_common_weeping willow,spc_common_white ash,spc_common_white oak,spc_common_white pine,spc_common_willow oak
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
spc_latin_dummies = pd.get_dummies(data_all['spc_latin'], prefix='spc_latin', drop_first=False, dtype = int)
spc_latin_dummies.head()

,spc_latin_Acer,spc_latin_Acer buergerianum,spc_latin_Acer campestre,spc_latin_Acer ginnala,spc_latin_Acer griseum,spc_latin_Acer palmatum,spc_latin_Acer platanoides,spc_latin_Acer platanoides 'Crimson King',spc_latin_Acer pseudoplatanus,spc_latin_Acer rubrum,...,spc_latin_Taxodium distichum,spc_latin_Thuja occidentalis,spc_latin_Tilia americana,spc_latin_Tilia cordata,spc_latin_Tilia tomentosa,spc_latin_Tsuga canadensis,spc_latin_Ulmus americana,spc_latin_Ulmus parvifolia,spc_latin_Ulmus pumila,spc_latin_Zelkova serrata
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
data_all = data_all.drop(['steward', 'guards', 'problems'], axis=1)
data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39686 entries, 0 to 39685
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  39686 non-null  int64
 1   created_at  39686 non-null  object
 2   tree_dbh    39686 non-null  int64
 3   curb_loc    39686 non-null  object
 4   health      19984 non-null  float64
 5   sidewalk    39686 non-null  object
 6   user_type   39686 non-null  object
 7   spc_common  39686 non-null  object
 8   spc_latin   39686 non-null  object
 9   nta         39686 non-null  object
 10  nta_name    39686 non-null  object
 11  borocode    39686 non-null  int64
 12  boro_ct     39686 non-null  int64
 13  boroname    39686 non-null  object
 14  zip_city    39686 non-null  object
 15  cb_num      39686 non-null  int64
 16  st_senate   39686 non-null  int64
 17  st_assem    39686 non-null  int64
 18  cncldist    39686 non-null  int64
dtypes: float64(1), int64(8), object(10)
memory usage: 5.8+ MB

In [18]:
data_all = data_all.drop(['Unnamed: 0'], axis=1)
data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39686 entries, 0 to 39685
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  39686 non-null  object
 1   tree_dbh    39686 non-null  int64
 2   curb_loc    39686 non-null  object
 3   health      19984 non-null  float64
 4   sidewalk    39686 non-null  object
 5   user_type   39686 non-null  object
 6   spc_common  39686 non-null  object
 7   spc_latin   39686 non-null  object
 8   nta         39686 non-null  object
 9   nta_name    39686 non-null  object
 10  borocode    39686 non-null  int64
 11  boro_ct     39686 non-null  int64
 12  boroname    39686 non-null  object
 13  zip_city    39686 non-null  object
 14  cb_num      39686 non-null  int64
 15  st_senate   39686 non-null  int64
 16  st_assem    39686 non-null  int64
 17  cncldist    39686 non-null  int64
dtypes: float64(1), int64(7), object(10)
memory usage: 5.5+ MB

In [19]:
user_type_dummies = pd.get_dummies(data_all['user_type'], prefix='user_type', drop_first=False, dtype = int)
user_type_dummies.head()

   user_type_NYC Parks Staff  user_type_TreesCount Staff  user_type_Volunteer
0                          0                           0                    1
1                          0                           0                    1
2                          0                           0                    1
3                          1                           0                    0
4                          0                           0                    1

In [20]:
sidewalk_dummies = pd.get_dummies(data_all['sidewalk'], prefix='sidewalk', drop_first=False, dtype = int)
sidewalk_dummies.head()

   sidewalk_Damage  sidewalk_NoDamage
0                1                  0
1                0                  1
2                0                  1
3                1                  0
4                0                  1

In [21]:
#dummiesにするカラム：sidewalk, curb_loc, user_type,

In [22]:
data_all_sample1 = pd.get_dummies(data_all, columns=['sidewalk', 'curb_loc', 'user_type'], drop_first=False, dtype = int)
data_all_sample1 = data_all_sample1.drop(['created_at', 'zip_city', 'nta', 'nta_name', 'boroname', 'spc_common', 'spc_latin'], axis=1)
data_all_sample1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39686 entries, 0 to 39685
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tree_dbh                    39686 non-null  int64
 1   health                      19984 non-null  float64
 2   borocode                    39686 non-null  int64
 3   boro_ct                     39686 non-null  int64
 4   cb_num                      39686 non-null  int64
 5   st_senate                   39686 non-null  int64
 6   st_assem                    39686 non-null  int64
 7   cncldist                    39686 non-null  int64
 8   sidewalk_Damage             39686 non-null  int64
 9   sidewalk_NoDamage           39686 non-null  int64
 10  curb_loc_OffsetFromCurb     39686 non-null  int64
 11  curb_loc_OnCurb             39686 non-null  int64
 12  user_type_NYC Parks Staff   39686 non-null  int64
 13  user_type_TreesCount Staff  39686 non-null  int64
 14  user_type_Volunteer         39686 non-null  int64
dtypes: float64(1), int64(14)
memory usage: 4.5 MB

In [23]:
#trainデータとtestデータに分割
data_train = data_all_sample1[:len(train)]
data_test = data_all_sample1[len(train):].drop(["health"], axis=1)

In [24]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19984 entries, 0 to 19983
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tree_dbh                    19984 non-null  int64
 1   health                      19984 non-null  float64
 2   borocode                    19984 non-null  int64
 3   boro_ct                     19984 non-null  int64
 4   cb_num                      19984 non-null  int64
 5   st_senate                   19984 non-null  int64
 6   st_assem                    19984 non-null  int64
 7   cncldist                    19984 non-null  int64
 8   sidewalk_Damage             19984 non-null  int64
 9   sidewalk_NoDamage           19984 non-null  int64
 10  curb_loc_OffsetFromCurb     19984 non-null  int64
 11  curb_loc_OnCurb             19984 non-null  int64
 12  user_type_NYC Parks Staff   19984 non-null  int64
 13  user_type_TreesCount Staff  19984 non-null  int64
 14  user_type_Volunteer         19984 non-null  int64
dtypes: float64(1), int64(14)
memory usage: 2.3 MB

In [25]:
y_train = data_train["health"]
X_train = data_train.drop(["health"], axis=1)
X_test = data_test

In [26]:
from sklearn.ensemble import RandomForestClassifier

#ランダムフォレストのパラメータ指定（デフォルト）
clf = RandomForestClassifier()
clf.fit(X_train, y_train)
y_test = clf.predict(X_test)

In [27]:
result = pd.DataFrame({"Unnamed: 0": test["Unnamed: 0"], "health": y_test})
result.to_csv("/SMBC-GREEN-DATA-Challenge/data/submission.csv", index=False)

In [28]:
submission = pd.read_csv("/SMBC-GREEN-DATA-Challenge/data/submission.csv")
submission["health"] = submission["health"].astype(int)

submission.head()

   Unnamed: 0  health
0       19984       1
1       19985       1
2       19986       1
3       19987       1
4       19988       1

In [29]:
submission.to_csv("/SMBC-GREEN-DATA-Challenge/data/submission.csv", index=False, header=False)

In [30]:
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

# ランダムフォレストモデルの訓練
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# 特徴量の重要度の取得
feature_importances = model.feature_importances_
print("各特徴量の重要度:")
for feature, importance in zip(X_train.columns, feature_importances):
    print(f"{feature}: {importance}")

各特徴量の重要度:
tree_dbh: 0.28565864449310985
borocode: 0.0009466762234775891
boro_ct: 0.33397538910197805
cb_num: 0.05121811938340495
st_senate: 0.04502047691129889
st_assem: 0.0701080317105525
cncldist: 0.0520508499243021
sidewalk_Damage: 0.03309107333719886
sidewalk_NoDamage: 0.033409908171711675
curb_loc_OffsetFromCurb: 0.014370087110009748
curb_loc_OnCurb: 0.014381767915268396
user_type_NYC Parks Staff: 0.022421653073911193
user_type_TreesCount Staff: 0.020245485549894963
user_type_Volunteer: 0.023101837093881344

In [31]:
## borocode
data_all_sample2 = data_all_sample1.drop(['borocode'], axis=1)

In [32]:
#trainデータとtestデータに分割
data1_train = data_all_sample2[:len(train)]
data1_test = data_all_sample2[len(train):].drop(["health"], axis=1)

In [33]:
y1_train = data1_train["health"]
X1_train = data1_train.drop(["health"], axis=1)
X1_test = data1_test

In [34]:
#ランダムフォレストのパラメータ指定（デフォルト）
clf = RandomForestClassifier()
clf.fit(X1_train, y1_train)
y1_test = clf.predict(X1_test)

In [35]:
result1 = pd.DataFrame({"Unnamed: 0": test["Unnamed: 0"], "health": y1_test})

In [36]:
result1["health"] = result1["health"].astype(int)
result1.to_csv("/SMBC-GREEN-DATA-Challenge/data/submission6.csv", index=False, header=False)

result1.head()

   Unnamed: 0  health
0       19984       1
1       19985       1
2       19986       1
3       19987       1
4       19988       0

In [37]:
# ランダムフォレストモデルの訓練
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X1_train, y1_train)

# 特徴量の重要度の取得
feature_importances = model.feature_importances_
print("各特徴量の重要度:")
for feature, importance in zip(X1_train.columns, feature_importances):
    print(f"{feature}: {importance}")

各特徴量の重要度:
tree_dbh: 0.2853821373858405
boro_ct: 0.3346940299290222
cb_num: 0.051511678341194245
st_senate: 0.04476883476433529
st_assem: 0.07017135458317118
cncldist: 0.052315996218289196
sidewalk_Damage: 0.03319437527689267
sidewalk_NoDamage: 0.033475196271252575
curb_loc_OffsetFromCurb: 0.014333823798211317
curb_loc_OnCurb: 0.014360753383366679
user_type_NYC Parks Staff: 0.022220136593078466
user_type_TreesCount Staff: 0.02031341141592344
user_type_Volunteer: 0.023258272039422226

In [38]:
data_all_sample3 = data_all_sample2.drop(['cb_num','st_senate','st_assem','cncldist'], axis=1)

In [39]:
#trainデータとtestデータに分割
data2_train = data_all_sample3[:len(train)]
data2_test = data_all_sample3[len(train):].drop(["health"], axis=1)

In [40]:
y2_train = data2_train["health"]
X2_train = data2_train.drop(["health"], axis=1)
X2_test = data2_test

In [41]:
clf = RandomForestClassifier()
clf.fit(X2_train, y2_train)
y2_test = clf.predict(X2_test)

In [42]:
result2 = pd.DataFrame({"Unnamed: 0": test["Unnamed: 0"], "health": y2_test})

In [43]:
result2["health"] = result2["health"].astype(int)
result2.to_csv("/SMBC-GREEN-DATA-Challenge/data/submission7.csv", index=False, header=False)

result2.head()

   Unnamed: 0  health
0       19984       1
1       19985       1
2       19986       1
3       19987       1
4       19988       1

In [44]:
# 特徴量の重要度の取得
feature_importances = model.feature_importances_
print("各特徴量の重要度:")
for feature, importance in zip(X2_train.columns, feature_importances):
    print(f"{feature}: {importance}")

各特徴量の重要度:
tree_dbh: 0.2853821373858405
boro_ct: 0.3346940299290222
sidewalk_Damage: 0.051511678341194245
sidewalk_NoDamage: 0.04476883476433529
curb_loc_OffsetFromCurb: 0.07017135458317118
curb_loc_OnCurb: 0.052315996218289196
user_type_NYC Parks Staff: 0.03319437527689267
user_type_TreesCount Staff: 0.033475196271252575
user_type_Volunteer: 0.014333823798211317

各特徴量の重要度:
tree_dbh: 0.20449589820224087
borocode: 0.2546716693769883
boro_ct: 0.05465041491828638
cb_num: 0.04630527540468209
st_senate: 0.07514872801304101
st_assem: 0.05643841231716665
cncldist: 0.007735263000522127
steward_1or2: 0.010639656270961481
steward_3or4: 0.001187789979167855
steward_4orMore: 0.011379612420646312
steward_Unsure: 0.024525089419345315
guards_Harmful: 0.023749034544368098
guards_Helpful: 0.01985784133724383
guards_Unsure: 0.020535895468763804
curb_loc_OffsetFromCurb: 0.02245629691907955
curb_loc_OnCurb: 0.0305766376428001
sidewalk_Damage: 0.1356464847646962

In [52]:
spc_common_PCA = data_all["spc_common"]

In [54]:
spc_common_PCA = pd.get_dummies(spc_common_PCA, prefix='spc_common', drop_first=False, dtype = int)

In [55]:
spc_common_PCA.head()

,spc_common_'Schubert' chokecherry,spc_common_American beech,spc_common_American elm,spc_common_American hophornbeam,spc_common_American hornbeam,spc_common_American linden,spc_common_Amur cork tree,spc_common_Amur maackia,spc_common_Amur maple,spc_common_Atlantic white cedar,...,spc_common_tartar maple,spc_common_tree of heaven,spc_common_trident maple,spc_common_tulip-poplar,spc_common_two-winged silverbell,spc_common_weeping willow,spc_common_white ash,spc_common_white oak,spc_common_white pine,spc_common_willow oak
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [102]:
scaler = StandardScaler()
X_standardized = scaler.fit_transform(spc_common_PCA)

In [103]:
pca = PCA(n_components=84)  # 削減後の次元数を指定
X_pca = pca.fit_transform(X_standardized)

In [104]:
explained_variance_ratio = pca.explained_variance_ratio_
print("各主成分の寄与率:", explained_variance_ratio)
print("累積寄与率:", sum(explained_variance_ratio))

各主成分の寄与率: [0.00925612 0.00915927 0.00898265 0.00891986 0.00882796 0.0088051
 0.00875931 0.00873426 0.00860321 0.00855011 0.00851647 0.00850678
 0.00846717 0.00844688 0.00843643 0.00841821 0.00840788 0.00840511
 0.00840118 0.00839137 0.00838605 0.00837927 0.0083696  0.00836921
 0.0083687  0.00836557 0.00836167 0.00835863 0.00835759 0.00835526
 0.00835291 0.00835239 0.00835143 0.00834958 0.00834865 0.00834849
 0.00834819 0.0083475  0.00834699 0.00834581 0.00834534 0.008345
 0.00834453 0.00834421 0.0083436  0.00834335 0.00834268 0.00834213
 0.00834197 0.00834144 0.0083414  0.0083411  0.0083407  0.00834018
 0.00834015 0.00833997 0.00833985 0.00833958 0.00833931 0.00833917
 0.00833911 0.00833885 0.00833866 0.00833856 0.00833848 0.00833841
 0.00833827 0.00833815 0.00833796 0.00833791 0.0083378  0.00833772
 0.00833769 0.00833749 0.00833733 0.00833726 0.00833717 0.00833706
 0.00833693 0.00833691 0.00833663 0.00833654 0.00833638 0.00833635]
累積寄与率: 0.7070980851573148

In [105]:
pca_df = pd.DataFrame(X_pca, columns=(f'feature_{i}' for i in range(X_pca.shape[1])))

In [106]:
df = pd.concat([data_all_sample3, pca_df], axis=1)

In [107]:
#trainデータとtestデータに分割
df_train = df[:len(train)]
df_test = df[len(train):].drop(["health"], axis=1)

In [108]:
y3_train = df_train["health"]
X3_train = df_train.drop(["health"], axis=1)
X3_test = df_test

In [109]:
clf = RandomForestClassifier()
clf.fit(X3_train, y3_train)
y3_test = clf.predict(X3_test)

In [110]:
result3 = pd.DataFrame({"Unnamed: 0": test["Unnamed: 0"], "health": y3_test})

In [111]:
result3["health"] = result3["health"].astype(int)
result3.to_csv("/SMBC-GREEN-DATA-Challenge/data/submission8.csv", index=False, header=False)

result3.head()

   Unnamed: 0  health
0       19984       1
1       19985       0
2       19986       1
3       19987       1
4       19988       0

In [112]:
# 特徴量の重要度の取得
feature_importances = model.feature_importances_
print("各特徴量の重要度:")
for feature, importance in zip(X3_train.columns, feature_importances):
    print(f"{feature}: {importance}")

各特徴量の重要度:
tree_dbh: 1.0
boro_ct: 0.0

In [115]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(df_test, y3_test)
print(f"平均二乗誤差: {mse}")

ValueError: y_true and y_pred have different number of output (93!=1)

In [114]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# 正解率の計算
accuracy = accuracy_score(df_test, y3_test)
print(f"正解率: {accuracy}")

# 分類レポートの表示（適合率、再現率、F1スコアなども確認できます）
classification_rep = classification_report(df_test, y3_test)
print("分類レポート:")
print(classification_rep)

ValueError: Classification metrics can't handle a mix of continuous-multioutput and multiclass targets

In [117]:
print(df_test.shape)
print(y3_test.shape)

(19702, 93)
(19702,)

In [118]:
df_test.flatten()

AttributeError: 'DataFrame' object has no attribute 'flatten'